<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% if title %}
                {{ metadata.title }} &mdash; {{ title }}
            {% else %}
                {{ metadata.title }}
            {% endif %}
        </title>
        <meta name="description" content="{{ description if description else metadata.description }}">
        <link rel="stylesheet" href="/styles/index.css">
    </head>
    <body>
        <div id="layout">
            <header id="header">
                <a href="/" id="logo">
                    {{ metadata.title }}
                </a>
            </header>
            <main>

                {{ content | safe }}
            </main>
        </div>
    </body>
</html>
