<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% if title %}
                {{ metadata.title }} &mdash; {{ title }}
            {% else %}
                {{ metadata.title }}
            {% endif %}
        </title>
        <meta name="description" content="{{ description if description else metadata.description }}">
        <link rel="stylesheet" href="/styles/index.css">
        <link rel="manifest" href="/img/favicon/manifest.webmanifest">
        <link rel="icon" href="/img/favicon/favicon.ico" sizes="any">
        <link rel="icon" href="/img/favicon/icon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/img/favicon/apple-touch-icon.png">
        {{ page.head }}
    </head>
    <body>
        <div id="layout">
            <header id="header">
                <{{ "h1" if page.url == "/" else "div" }}  id="logo">
                    <a href="/" >
                        <!--  {{ metadata.title }}-->
                        <img src="/img/logo.svg" alt="WAFL">

                    </a>
                </{{ "h1" if page.url == "/" else "div" }}>
                <span id="explanation"></span>
                <nav id="navigation">
                    <ul>
                        {% set navPages = collections.all | eleventyNavigation %}
                        {%- for navItem in navPages -%}
                            <li>
                                <a
                                    class="
                                    {% if navItem.url == page.url %}
                                        active
                                    {% endif %}"
                    href="{{ navItem.url }}"
                    >{{ navItem.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </header>
            <main>
                {{ content | safe }}
            </main>
            <footer>
                <ul id="social-links">
                    <li>
                        <a rel="me noreferrer" href="{{ metadata.social.mastodon }}">
                            <img src="/img/icons/mastodon.svg" alt="Mastodon">
                        </a>
                    </li>
                    <li>
                        <a  rel="me noreferrer" href="{{ metadata.social.twitter }}">
                            <img src="/img/icons/twitter.svg" alt="Twitter">
                        </a>
                    </li>
                </ul>
            </footer>
        </div>
        <script src="/scripts/main.js" defer></script>
        {{ page.foot }}
    </body>
</html>
