<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% if title %}
                {{ metadata.title }} &mdash; {{ title }}
            {% else %}
                {{ metadata.title }}
            {% endif %}
        </title>
        <meta name="description" content="{{ description if description else metadata.description }}">
        <link rel="stylesheet" href="/styles/index.css">
        <link rel="manifest" href="/img/favicon/manifest.webmanifest">
        <link rel="icon" href="/img/favicon/favicon.ico" sizes="any">
        <link rel="icon" href="/img/favicon/icon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/img/favicon/apple-touch-icon.png">
        {{ page.head }}
        <style>
            {{page.url | webcGetCss | safe}}
        </style>
    </head>
    <body class="font-sans bg-amber-50">
        <div class="container mx-auto px-4 min-h-full flex flex-col">
            <header class="flex-none flex flex-col py-4 items-center">
                <{{ "h1" if page.url == "/" else "div" }}>
                    <a href="/" class="mb-1 inline-block text-8xl font-extrabold" >
                        WAFL
                    </a>
                </{{ "h1" if page.url == "/" else "div" }}>
                <nav>
                    <ul class="list-none p-0 m-0 mt-3 flex justify-center gap-8">
                        {% set navPages = collections.all | eleventyNavigation %}
                        {%- for navItem in navPages -%}
                            <li>
                                <a
                                    class="
                                    text-xl
                                    bg-yellow-300
                                    border-solid
                                    border-yellow-300
                                    border-4
                                    text-black
                                    p-1
                                    font-bold
                                    focus:bg-white
                                    hover:bg-white
                                    {% if navItem.url == page.url %}
                                        underline
                                        decoration-2
                                    {% else %}
                                        no-underline
                                    {% endif %}"
                    href="{{ navItem.url }}"
                    >{{ navItem.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </header>
            <main class="flex-grow flex flex-col">
                {{ content | safe }}
            </main>
            <footer class="flex-none my-7">
                <ul class="list-none p-0 flex justify-center gap-8">
                    <li>
                        <a class="block" rel="me noreferrer" href="{{ metadata.social.mastodon }}">
                            <img class="h-12 w-12" src="/assets/icons/mastodon.svg" alt="Mastodon">
                        </a>
                    </li>
                    <li>
                        <a class="block" rel="me noreferrer" href="{{ metadata.social.twitter }}">
                            <img class="h-12 w-12" src="/assets/icons/twitter.svg" alt="Twitter">
                        </a>
                    </li>
                </ul>
            </footer>
        </div>
        <script src="/scripts/main.js" type="module"></script>
        <script>
            {{ page.url | webcGetJs | safe }}
        </script>
        {{ page.foot }}
    </body>
</html>
