---
layout: default.njk
---
<article class="episode">
    <h1 class="text-4xl">
        {{ title }}
    </h1>

    <figure>
        <figcaption>Episode &bdquo;{{ title }}&ldquo; anhören:</figcaption>
        <audio
        controls
        src="{{ media.content | absoluteUrl(podcast.storageUrl) }}">
            <a href="{{ media.content | absoluteUrl(podcast.storageUrl) }}">
                Episode herunterladen
        </a>
        </audio>
    </figure>
    <a class="text-lg" href="{{ media.content | absoluteUrl(podcast.storageUrl) }}">
        Episode herunterladen
    </a>
    <div class="prose">
        {{ content | safe }}
    </div>
</article>
