---
layout: default.njk
---
<article class="contents">
    <h1 class="mb-2 text-4xl font-extrabold text-center md:text-5xl">
        {{ title }}
    </h1>
    <div class="flex flex-row flex-wrap justify-center gap-2 mb-4 text-sm">
        <div class="flex items-center gap-1">
            <img class="inline-block w-4 h-4" src="/assets/icons/icon-globe.svg" alt="">
            <span class="sr-only">
                Veröffentlich am
            </span>
            <time datetime="{{ date | formatDateISO }}">
                {{ date | formatDateDisplay }}
            </time>
        </div>
        <div class="flex items-center gap-1">
            <img class="inline-block w-4 h-4" src="/assets/icons/icon-mic.svg" alt="">
            <span class="sr-only">
                Aufgenommen am
            </span>
            <time datetime="{{ media.recordingDate | formatDateISO }}">
                {{ media.recordingDate | formatDateDisplay }}
            </time>
        </div>
    </div>

    {%- set audioSrc = media.content | absoluteUrl(podcast.storageUrl) -%}
    {%- set cover = podcast.channelImage -%}

    <div class="w-full mb-4">
        {% renderTemplate "webc", {
            title: title,
            audioSrc: audioSrc,
            cover: cover
        } %}
        <podcast-player :title="title" :src="audioSrc" :cover="cover"></podcast-player>
        {% endrenderTemplate %}
    </div>
    <div class="prose">
        {{ content | safe }}
    </div>
</article>
