@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Palette:
#FDC921
#FDD85D
#FFFDF7
#99D6EA
#6798C0
*/

:root {
  --bg: #fffdf7;
  --accent: #6798c0;
  --text-accent: #c13a3b;
  --border-color: #fdc921;
  --content-bg: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  background-color: var(--bg);
  margin: 0;
}

body {
  font-family: system-ui, sans-serif;
  font-size: 100%;
  line-height: 1.75;
}

a {
  color: var(--text-accent);
}

:is(h1, h2, h3, h4, h5, h6) {
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 800;
}

p {
  line-height: 1.5;
}

#layout {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  width: calc(100% - 2rem);
  margin: auto;
}

#header {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  align-items: center;
}

#navigation ul {
  list-style-type: none;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 0.75rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

#navigation a {
  background-color: var(--border-color);
  border: 0.2rem solid var(--border-color);
  color: #000;
  padding: 0.3rem;
  font-weight: bold;
  text-decoration: none;
}

#navigation a:hover {
  background-color: var(--content-bg);
  border: 0.2rem solid var(--accent);
}

#navigation a.active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}


#logo {
  font-size: clamp(3rem, 10vw, 7rem);
  line-height: 1;
}

#logo a {
  display: block;
}

#logo img {
  width: 10rem;
}

#explanation {
  font-style: italic;
  font-size: 1.2rem;
  visibility: hidden;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content-box {
  background-color: var(--content-bg);
  padding: 1rem;
  border: 0.5rem solid var(--border-color);
}

#social-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

#social-links a {
  display: block;
}

#social-links img {
  color: var(--accent);
  width: 3rem;
  height: 3rem;
}
