---
layout: default.njk
title: ""
---
{% renderTemplate "webc" %}
<about-host @heading="Über Tobias" @image-src="https://watzek.dev/images/pTMiAUBcS1-400.webp" @image-alt="Tobias" @reverse>
Der kulinarisch anthropologische Philosophiepodcast von und mit Lukas Flad und
Tobias Watzek.

- hallo
- eine
- liste

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, assumenda
iusto quod ipsam expedita est. Voluptates reiciendis maiores error vel
recusandae quo saepe nihil dolorum, laudantium eaque nostrum fugiat dolor?
</about-host>
{% endrenderTemplate %}
{% renderTemplate "webc" %}
<about-host @heading="Über Lukas" @image-src="https://watzek.dev/images/pTMiAUBcS1-400.webp" @image-alt="Lukas" @reverse="0">
Der kulinarisch anthropologische Philosophiepodcast von und mit Lukas Flad und
Tobias Watzek.

- hallo
- eine
- liste

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, assumenda
iusto quod ipsam expedita est. Voluptates reiciendis maiores error vel
recusandae quo saepe nihil dolorum, laudantium eaque nostrum fugiat dolor?
</about-host>
{% endrenderTemplate %}
