---
layout: page.njk
title: "Podcast"
eleventyNavigation:
    key: Podcast
    order: 1
---
<ul class="w-full md:max-w-md divide-y-2 divide-sky-200">
    {%- for podcastEpisode in collections.podcast | reverse -%}
        <li class="p-2 text-center">
            <a class="text-xl inline-block p-2 underline" href="{{ podcastEpisode.url }}">
                {{ podcastEpisode.data.title }}
            </a>
            <div class="flex flex-row flex-wrap justify-center gap-2 text-sm mb-4">
                <div class="flex items-center gap-1">
                    <img class="inline-block h-4 w-4" src="/assets/icons/icon-globe.svg" alt="">
                    <span class="sr-only">
                        Veröffentlich am
                    </span>
                    <time datetime="{{ podcastEpisode.data.date | formatDateISO }}">
                        {{ podcastEpisode.data.date | formatDateDisplay }}
                    </time>
                </div>
                <div class="flex items-center gap-1">
                    <img class="inline-block h-4 w-4" src="/assets/icons/icon-mic.svg" alt="">
                    <span class="sr-only">
                        Aufgenommen am
                    </span>
                    <time datetime="{{ podcastEpisode.data.media.recordingDate | formatDateISO }}">
                        {{ podcastEpisode.data.media.recordingDate | formatDateDisplay }}
                    </time>
                </div>
            </div>
        </li>
    {%- endfor -%}
</ul>
