---
layout: page.njk
title: "Podcast"
eleventyNavigation:
    key: Podcast
    order: 1
---
<ul>
{%- for podcastEpisode in collections.podcast | reverse -%}
<li>
    <a href="{{ podcastEpisode.url }}">
        {{ podcastEpisode.data.title }}
    </a>
</li>
{%- endfor -%}
</ul>
